*

!/.github/
!/assets/
!/base/
!/base/assets/
!/base/assets/opt/
!/base/assets/opt/code-server/
!/base/assets/opt/code-server/src/
!/base/assets/opt/code-server/src/browser/
!/base/assets/opt/code-server/src/browser/media/
!/base/assets/opt/code-server/src/browser/media/css/
!/base/assets/opt/code-server/src/browser/media/fonts/
!/base/conf/
!/base/conf/ipython/
!/base/conf/ipython/usr/
!/base/conf/ipython/usr/local/
!/base/conf/ipython/usr/local/etc/
!/base/conf/ipython/usr/local/etc/ipython/
!/base/conf/jupyter/
!/base/conf/jupyter/etc/
!/base/conf/jupyter/etc/jupyter/
!/base/conf/jupyterlab/
!/base/conf/jupyterlab/usr/
!/base/conf/jupyterlab/usr/local/
!/base/conf/jupyterlab/usr/local/etc/
!/base/conf/jupyterlab/usr/local/etc/jupyter/
!/base/conf/jupyterlab/usr/local/etc/jupyter/jupyter_server_config.d/
!/base/conf/jupyterlab/usr/local/share/
!/base/conf/jupyterlab/usr/local/share/jupyter/
!/base/conf/jupyterlab/usr/local/share/jupyter/lab/
!/base/conf/jupyterlab/usr/local/share/jupyter/lab/settings/
!/base/conf/shell/
!/base/conf/shell/etc/
!/base/conf/shell/etc/profile.d/
!/base/conf/shell/etc/skel/
!/base/conf/shell/etc/zsh/
!/base/conf/user/
!/base/conf/user/var/
!/base/conf/user/var/backups/
!/base/conf/user/var/backups/skel/
!/base/conf/user/var/backups/skel/.local/
!/base/conf/user/var/backups/skel/.local/share/
!/base/conf/user/var/backups/skel/.local/share/code-server/
!/base/conf/user/var/backups/skel/.local/share/code-server/User/
!/base/scripts/
!/base/scripts/usr/
!/base/scripts/usr/local/
!/base/scripts/usr/local/bin/
!/base/scripts/usr/local/bin/before-notebook.d/
!/base/scripts/usr/local/bin/start-notebook.d/
!/common/
!/common/subtags/
!/common/subtags/devtools/
!/common/subtags/docker/
!/common/subtags/root/
!/scipy/

!/.github/FUNDING.yml
!/assets/screenshot.png
!/base/assets/opt/code-server/code-server.svg
!/base/assets/opt/code-server/src/browser/media/css/*.css
!/base/assets/opt/code-server/src/browser/media/fonts/*.woff
!/base/assets/opt/code-server/src/browser/media/fonts/*.woff2
!/base/conf/ipython/usr/local/etc/ipython/ipython_config.py
!/base/conf/jupyter/etc/jupyter/jupyter_server_config.py
!/base/conf/jupyterlab/usr/local/etc/jupyter/jupyter_server_config.d/mojo-lsp-server.json
!/base/conf/jupyterlab/usr/local/share/jupyter/lab/settings/overrides.json
!/base/conf/shell/etc/profile.d/*.sh
!/base/conf/shell/etc/skel/.profile
!/base/conf/shell/etc/zsh/zprofile
!/base/conf/user/var/backups/skel/.p10k.zsh
!/base/conf/user/var/backups/skel/.local/share/code-server/User/settings.json
!/base/scripts/usr/local/bin/busy
!/base/scripts/usr/local/bin/*.sh
!/base/scripts/usr/local/bin/before-notebook.d/*.sh
!/base/scripts/usr/local/bin/start-notebook.d/*.sh
!/base/.gitlab-ci.yml
!/base/*.Dockerfile
!/common/subtags/devtools/*.Dockerfile
!/common/subtags/docker/Dockerfile
!/common/subtags/root/Dockerfile
!/scipy/.gitlab-ci.yml
!/scipy/*.Dockerfile

!/.editorconfig
!/.gitattributes
!/.gitignore
!/.hadolint.yml
!/.markdownlint.yml
!/CODE_OF_CONDUCT.md
!/DEVTOOLS_NOTES.md
!/LICENSE
!/NOTES.md
!/README.md
!/SECURITY.md
!/VERSION_MATRIX.md
